@media (max-width: 1035px) {
  #slider {
    width: 100%;
    margin-bottom: 8px;
  }
  .template-front-page .widget-area {
    width: 98%;
  }
  .padrao, #content-wrapper ul.destaque,#content-wrapper ul.destaque li a > h2, #content-wrapper ul.destaque li p, span.dt_postagem, aside, #post_recentes {
    width: 100%;
  }
  #content {
    margin: 8px auto 0;
    padding: 8px;
    overflow: hidden;
  }
  .banner {
    margin: 0px auto;
    float: none;
    width: 100%;
    height: auto;
  }
  .banner div {
    height: auto;
  }
  .banner div > .dfad {
    width: 24%;
    margin: 0px;
    padding: 0px;
    height: auto;
  }
  .banner div > .dfad:nth-child(2), .banner div > .dfad:nth-child(1), .banner div > .dfad:nth-child(3), .banner div > .dfad:nth-child(4) {
    margin: 0.5%;
  }
  .img_ntc, span.dt_postagem, #eventos {
    display: none;
  }
  #bnDesta {
    width: 476px;
    height: 248px;
    margin: 0 auto;
    display: block;
    float: none;
  }
  #nextend-smart-slider-2 {
    margin: 0 auto !important;
    float: none !important;
  }
  .postDestaqueNot {width: 95%;margin-bottom: 12px;}

}

@media (max-width: 767px) {
    .navbar-default{
      width: 100%;
      height: auto;
      position: absolute;
      top: 0px;
    }
    .navbar-nav {
      margin: 8px;
    }

  .dropdown-menu > li > a {
  display: block;
  padding: 4px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  font-size: 11px;
  font-weight: bold;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
    color: #FFF;
    text-decoration: none;
    background-image: url("images/bg-menu-h.png");
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  .navbar-default .navbar-nav > li > a{
  background-image: url("images/bg-menu.png");
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  border-bottom: 2px solid #FFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 100%;
    position: absolute;
    z-index: 9999;
  top: 41px;
  }
  .padrao {
    width: 100%;
  }
  #slider{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    height: auto;
  }
  .banner{
    display: none;
  }
  article ul, article{
    width: 100%;
    margin: 0 auto;
    float: none;
  }
  #content-wrapper ul.destaque, aside, #post_recentes, #eventos {
    margin: 0 auto;
    float: none;
  }
  aside, #post_recentes {
    width: 100%;
    padding: 8px;
  }
  #eventos {
    margin-top: 8px;
    overflow: hidden;
  }
  #social p {
    width: 55%;
  }
  .header_dir {
    width: 100%;
    float: right;
  }
  .form-control {
    width: 86px;
    height: 20px;
    padding: 6px 12px;
    font-size: 11px;
    text-transform: uppercase;
    color: #231F20;
    background-color: #D1D2D4;
    background-image: none;
    border: none;
    display: inline-table;
    float: left;
    margin: 1px;
  }
  #login{
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    background-color: #ECEDE9;
  }
  #header-login-form p.login-username, #header-login-form p.login-password {
    width: 100%;
    float: left;
    display: block;
    margin: 4px;
  }

  #header-login-form input#header_user_login, #header-login-form input#header_user_pass {
    width: 78% !important;
    float: right;
  }

  #header-login-form label {
    width: 16% !important;
    margin-right: 2%;
    float: left;
    text-align: right;
  }

  #header-login-form p.login-remember {
    width: 34%;
    float: left;
    margin-right: 2%;
  }

  #header-login-form p.login-remember label{
    float: left;
    text-align: left;
  }

  #header-login-form p.login-submit {
    width: 54%;
    float: left;
  }
  #header-login-form .button-primary{
    width: 100% !important;
  }

  #header-login-form p.login-submit #header_wp-submit{
    width: 40%;
    line-height: 14px;
  }

  #header-login-form a.link-perdeu-senha {
    float: right;
    width: auto;
  }

#header-login-form p.login-remember label {
  width: 100% !important;
}
#header-login-form p.login-remember label input{
  width: 10%;
}

  .latRev {
  width: 100%;
  height: 170px;
  display: block;
  padding-right: 120px;
  float: left;
  position: absolute;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: scroll; /*for horizontal scroll bar */
  -webkit-overflow-scrolling: touch;
  }
  .latRevInt {
  width: 100%;
  height: 120px;
  display: block;
  padding-right: 0px;
  float: left;
  position: absolute;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: scroll; /*for horizontal scroll bar */
  -webkit-overflow-scrolling: touch;
  }
  .latRevInt p.resumo {
    display: none;
  }
  .asugInter {
    width: 110px;
    height: 60px;
    overflow: hidden;
  }

  .asugInter img.wp-post-image {
    height: 100% !important;
    width: auto !important;
    margin-left: -82% !important;
    max-width: none;
    display: block;
    border: none;
  }

  .col-xs-12 .postRevistas, .col-xs-12 .postInter {
    display: inline-block;
  }
  .col-xs-12 .postInter {
    width: 110px;
  }
  .col-xs-12 .revHr {
    position: relative;
    display: block;
    width: 100%;
    height: 170px;
    float: left;
    overflow: hidden;
  }
    footer {
    position: relative !important;
  }

  .two_coluna .well {
    width: 100%;
    margin: 8px auto;
  }
  #bnDesta {
    max-width: 476px;
    max-height: 248px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    float: none;
  }
  #bnDesta div div {
    display: none;
  }
  #bnDesta div div:nth-child(1) {
  display: block;
  }
 #sidebar_direita {
    display: none;
  }
  .table-responsive h1.entry-title {
    font-size: 12px;
  }
  .table-responsive .wp-post-image + h1.entry-title {
    margin-top: 0px;
  }
  .arrow-w {
    margin: -8px auto;
  }
  .modal-backdrop {
    z-index: 1041;
    display: none !important;
  }
  .modal-dialog {
    z-index: 9999999;
  }
  .single-post .latRev,
  .page-template-page-templatesasug-day-php .latRev,
  .page-template-page-templatesimpact-awards-php .latRev,
  .page-template-page-templatesconferencia-anual-php .latRev
   {
  width: 100%;
  height: 40vh;
  display: block;
  float: left;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-y: scroll;
  overflow-x: scroll;
  -ms-overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  position: relative;
  }
  .nav-tabs.gradeHF > li > a {
    font-size: 10px;

  }
  #janela {
	position: relative;
	min-height: 0;
	padding-bottom: 0px;
  }
  #social {
	float: none;
  }
  #social p {
    display: none;
  }
  div#social {
    position: static;
    min-height: 0;
    padding-bottom: 44px;
  }
  #social ul {
    margin: 15px;
  }
  footer {
	position: static;
	float: none;
  }
  footer .navbar {
	margin-top: 0;
  }
  .copyright p {
	margin-bottom: 0;
	padding-bottom: 10px;
  }
}

/* IPAD */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .nav > li > a{
      padding: 4px 3px;
    }
    .navbar-nav > li {
      margin: 0px;
    }
  }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
    .navbar-default {
      position: absolute;
      width: 100%;
      left: 0;
      top: 66px;
    }
    .site-header {
      margin-bottom: 40px;
    }
    .navbar-nav > li {
      margin: 0px;
    }
    .nav > li > a {
      padding: 4px 2px;
    }
    .navbar-nav {
      margin-left: 4px;
    }
}

@media (min-width: 320px) and (orientation: portrait) and (orientation : landscape){
    .navbar-default{
      width: 100%;
      min-height: auto;
      height: auto;
    }
    .navbar-nav {
      margin: 8px;
      min-height: auto;
      height: auto;
      z-index: 9999;
      position: relative;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
-webkit-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 0px 21px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 0px 21px 0px rgba(50, 50, 50, 0.5);
    }
    #sidebar_esquerda, #sidebar_direita{
      display: none;
    }
  .dropdown-menu > li > a {
  display: block;
  padding: 4px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  font-size: 11px;
  font-weight: bold;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
    color: #FFF;
    text-decoration: none;
    background-image: url("images/bg-menu-h.png");
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  .navbar-default .navbar-nav > li > a{
  background-image: url("images/bg-menu.png");
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  border-bottom: 2px solid #FFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 100%;
    position: absolute;
    z-index: 9999;
  }
  .padrao {
    width: 100%;
  }
  #slider{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    height: auto;
  }
  #slider img {
    width: 100%;
    height: auto;
  }
  #content-wrapper ul.destaque {
    width: 100%;
  }
  #content-wrapper ul.destaque li a > h2, #content-wrapper ul.destaque li p, span.dt_postagem {
    width: auto;
    float: left;
  }
  #content-wrapper ul.destaque li a img {
    display: none;
  }
  aside, #post_recentes, span.dt_postagem, footer, aside, #eventos, #social, #content-wrapper ul.destaque li img, #content-wrapper ul.destaque li a, #content-wrapper ul.destaque li .img_ntc {
    width: 100%;
    float: left;
  }
  #content-wrapper ul.destaque li a {
    width: 100%;
    text-align: left;
    float: left;
    display: block;
    overflow: hidden;
  }
  .banner{
    display: none;
  }
  article ul, article{
    width: 100%;
    margin: 0 auto;
    float: none;
  }
  article ul li{
    padding: 8px;
  }
  #content-wrapper ul.destaque, aside, #post_recentes, #eventos {
    margin: 0 auto;
    float: none;
  }
  aside, #post_recentes {
    width: 99%;
    padding: 8px;
    height: auto;
  }
  #eventos {
    margin-top: 8px;
    overflow: hidden;
  }
  #social p {
    width: 55%;
  }
  .header_dir {
    width: 100%;
    float: right;
    min-height: auto;
    height: auto; !important
  }
  .navbar{
    min-height: auto;
    height: auto;
  }
  .navbar-default{
    float: right;
  }
  .form-control {
    width: 86px;
    height: 20px;
    padding: 6px 12px;
    font-size: 11px;
    text-transform: uppercase;
    color: #231F20;
    background-color: #D1D2D4;
    background-image: none;
    border: none;
    display: inline-table;
    float: left;
    margin: 1px;
  }
  #login{
    width: 100%;
    float: right;
    display: block;
  }
  #main > div.padrao > header > div.header_dir > nav > div.navbar-header {
    width: 62px;
    float: right;
    margin-top: -38px;
  }
  header{
    margin-bottom: 0px;
  }
  #eventos ul li{
    float: left;
    width: 139px;
    margin: 2px 3px;
    overflow: hidden;
  }



  #social p {
    display: none;
  }
  #social ul {
    height: 12px;
    padding: 6px;
    width: 150px;
    margin: 0 auto;
  }
  footer {
    position: relative !important;
  }
  footer .navbar-nav > li > a {
    text-align: center;
  }
  #janela {
  position: relative;
  min-height: 0vh;
  padding-bottom: 0px; /* #social + footer */
  }


}

@media (min-width: 768px) and (max-width: 1055px) { /* 756 */

  .header_dir {
    width: calc( 100% - 230px );
    padding: 0 8px;
  }

    #menu-topo {
      text-align: right;
    }
    #menu-topo > li {
      display: inline-block;
      float: none;
    }
  
  footer .nav {
    float: none;
    margin: 0 auto;
    max-width: 90%;    
    text-align: center;
    font-size: 0;
  }

    footer .nav > li {
      display: inline-block;
      float: none;
    }

}
